body {
    font-family: Roboto;
    background-image: url("https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExNzY5MmIxYmE3ZGUyN2E0NDVlNDRhZmY5MjY1MjJhZTc5M2M5NTFjNSZjdD1n/QRhtqYeEywJI4/giphy.gif");
    background-size: cover;
}
h1{
    color: white;
    font-size: 24px;
    font-weight: 100;
    line-height: 28px;
    margin-bottom: 0;
}

ul {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
    color:white;
    padding: 0;
    margin: 0;
    font-size: 16px;
    font-weight: 100;
    line-height: 19px;
  
}

li:first-letter {
    text-transform: capitalize;
}

.weather-app-wrapper {
    max-width: 600px;
    margin: 30px auto;

}
.weather-app {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 14px;
}

.overview {
    margin-bottom: 20px;
}

.weather-temperature img {
    margin-right: 5px;
    height:64px;
    width: 64px;

}

.weather-temperature strong {
    color: white;
    font-size: 64px;
    font-weight: 400;
    line-height: 1;
}

.weather-temperature .units {
position: relative;
font-size: 16px;
top: -34px;
}

.weather-temperature .active {
    color: white;
    cursor: default;
    text-decoration: none;
    margin-left: 5px;
}

.weather-temperature .active:hover {
    text-decoration: none;
    cursor: default;
}

.weather-app .non-active {
    text-decoration: none;
    cursor: default;
    color: white;
}

.weather-forecast {
    margin-top: 20px;
    text-align: center;
    color: white;
}

.weather-forecast-date {
    color: white;
    font-size: 16px;
}

.weather-forecast-temperatures {
    font-size: 13px;
}

.weather-forecast-temperatures-min {
    opacity: 1.0;
}

.btn:hover{
    background-color: green;
    border-color: green;
    cursor: default;
}

.weather-forecast-temperature-min{
    color: white;
    margin-left: 3px;

}

.form-control:hover {
    background-color: lemonchiffon;
    font-style: italic;
}

.open-link {
    color: white;
    cursor: default;
}

.open-source {
    color: white;
    cursor: default;
}

.open-source:hover {
    cursor: default;
    color: white;
    text-transform:uppercase;
} 

.open-link:hover {
    cursor: default;
    color: white;
    text-transform:uppercase;
}